<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJKGqi6JqrEG9kXYKb5TiXm1KME97kkdg</string>
	<key>GCM_SENDER_ID</key>
	<string>1033154007968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fishless.Forminity</string>
	<key>PROJECT_ID</key>
	<string>forminity-4a8dd</string>
	<key>STORAGE_BUCKET</key>
	<string>forminity-4a8dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033154007968:ios:1f7fff0a54f4ae996fcac5</string>
</dict>
</plist>